<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hospedaje</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<header class="hd-nav">
		<div class="top-menu container">
			<nav class="navbar navbar-expand-lg">
				<a class="navbar-brand" href="#">
					<img class="img-logo" src="../content/images/logo.svg" alt="">
					<i class="icon-log"></i>
					<span>Hospedaje</span>
				</a>
				<form class="form-inline">
					<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="icon-search"></i></button>
				</form>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="icon-menu"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link" href="#">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Agregar anuncio</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">Anfitrión</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Mis solicitudes</a>
						<span class="notifica"></span>
					</li>
					<li class="nav-login">
						<span>Pedro Perez</span>
						<a href="#">Cerrar sesión</a>
					</li>
				</ul>
				</div>
			</nav>
		</div>
	</header>
	<div class="map-prueba">
		<div class="container">
			<div class="box-filter">
				<h3>Filtrar alojamiento</h3>
				<div class="filters">
					<div class="f-bl">
						<button class="active">Bogotá - Colina Campestre</button>
					</div>
					<div class="f-bl">
						<button class="btn">Fechas</button>
					</div>
					<div class="f-bl">
						<button class="btn">Tipo de espacio</button>
					</div>
					<div class="f-bl">
						<label class="switch">
							<input type="checkbox">
							<span class="slider round"></span>
						</label>
						<label>Soy viajer@</label>
					</div>
					<div class="f-bl">
						<label class="switch">
							<input type="checkbox">
							<span class="slider round"></span>
						</label>
						<label>Soy medic@s/enfermer@s</label>
					</div>
					<button type="button" class="btn btn-outline-primary">Filtrar</button>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<button class="btn btn-primary" type="button" disabled>
				<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
				<span class="sr-only">Loading...</span>
			</button>
			<button class="btn btn-primary" type="button" disabled>
				<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
				Loading...
			</button>
		</div>
	</div>
</body>