<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hospedaje</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<header class="hd-nav">
		<div class="top-menu container">
			<nav class="navbar navbar-expand-lg">
				<a class="navbar-brand" href="#">
					<img class="img-logo" src="../content/images/logo.svg" alt="">
					<i class="icon-log"></i>
					<span>Hospedaje</span>
				</a>
				<form class="form-inline">
					<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="icon-search"></i></button>
				</form>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="icon-menu"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link" href="#">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Agregar anuncio</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">Anfitrión</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Mis solicitudes</a>
					</li>
				</ul>
				</div>
			</nav>
		</div>
	</header>
	<main class="container">
		<h1>Ayuda a los que nos están ayudando</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum massa turpis, ultricies id lacinia et, posuere consectetur lorem. Nullam odio orci, egestas vitae quam non, blandit pretium turpis.</p>
		<div class="box-option">
			<a href="">
				<h3>Hospedar <i class="icon-next"></i></h3>
				<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
			</a>
			<a href="">
				<h3>Buscar <br>Hospedaje <i class="icon-next"></i></h3>
				<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
			</a>
		</div>
	</main>
	<section class="sec-home white">
		<article class="container art-home">
			<div class="img-sec">
				<img src="../content/images/img-funciona.png" alt="">
			</div>
			<div class="box-txt">
				<h2 class="title">¿Cómo funciona?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis quam interdum, iaculis velit in, gravida leo. Sed sed ante vitae quam fermentum vulputate non a tellus. Suspendisse id congue ipsum, vel rhoncus lacus. Praesent vitae turpis eleifend odio mattis placerat non nec turpis.</p>
			</div>
		</article>
	</section>
	<section class="sec-home">
		<article class="container art-home">
			<div class="img-sec">
				<img src="../content/images/img-ayuda.png" alt="">
			</div>
			<div class="box-txt">
				<h2 class="title">¿Cómo ayudar?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis quam interdum, iaculis velit in, gravida leo. Sed sed ante vitae quam fermentum vulputate non a tellus. Suspendisse id congue ipsum, vel rhoncus lacus. Praesent vitae turpis eleifend odio mattis placerat non nec turpis.</p>
			</div>
		</article>
	</section>
	<footer> Copyright © 2020 by ayuda</footer>
</body>